
.thumbnail{
    width: 100%;

}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-creator, .video-stats{
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 6px;
}
.video-title{
    font-weight: 700;
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-left: -5px;
}
.profile-pic{
    width: 36px;
    border-radius: 50%;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}
.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 4px;
    border-radius: 2px;
}
.video-info a{
    text-decoration: none;
    color: black;
}
.channel-tooltip{
    background-color: white;
    padding: 6px 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 6px;
    position: absolute;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    transition: opacity 0.2s;
    width: 250px;
}
.channel-pic:hover .channel-tooltip{
    opacity: 1;
}
.channel-tooltip .channel-name{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
}
.channel-tooltip .channel-profile-pic{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-right: 15px;
}
.channel-tooltip .channel-subscribers{
    font-size: 12px;
}